.btn {
  padding: rem(10px) rem(15px);
  border-radius: rem(5px);
  background-color: $red;
  text-transform: uppercase;
  text-decoration: none;
  color: $white;
  font-size: rem(13px);
  border-color: transparent;
  cursor: pointer;
  outline: none;
  font-family: 'Ubuntu';
}
