.footer {
  background-color: #565353;
  background-image: url("../img/bg/footer-bg.png");
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center center;
  color: $white;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 12px;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
}
.contacts__tel {
  color: $orange;
  text-decoration: none;
  font-weight: bold;
}