
.ingredients__drop-menu {
  width: rem(270px);
  height: rem(330px);
  background-color: rgba($color: #FFFFFF, $alpha: 0.9);
  position: absolute;
  top: 0;
  left: rem(-5000px);
  padding: rem(15px) rem(20px);
  box-shadow: 2.5px 4.3px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: rem(5px);
  transition: opacity 0.5s;
  opacity: 0;

}
.ingredients__elem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: rem(3px);
  font-family: 'Ubuntu';
  color: rgb(47, 50, 52);
  line-height: 1.714;
  font-weight: 600;
  font-size: rem(14px);
}
.ingredients__elem-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ingredients__img{
  margin-right: rem(20px);
}
.ingredients__pic {
  width: rem(45px);
  height: rem(40px);
}
.burgers__slider-ingredients:hover {
  background-color: $red;
}
.burgers__slider-ingredients:hover .ingredients__drop-menu{
  opacity: 1;
  left: rem(90px);
}

