.promo {
  background-image: url("../img/bg/promo-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.promo__container {
  height: 100%;
  display: flex;
}

.promo__wrapper {
  display: flex;
  align-items: center;
}

.promo__title {
  margin-left: 15px;
  padding-top: 80px;
}

.promo__subtitle {
  font-family: "Lifehack-Medium";
  margin-top: 25px;
  font-size: 65px;
  color: $white;
  line-height: 1;
}

.promo__scroll-btn {
  width: 29px;
  height: 15px;
  background-image: url("../img/icons/arrow-scroll.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
